<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face Rec</title>
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/icons/favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/icons/favicon.svg">
    <link rel="shortcut icon" href="static/img/icons/favicon.ico">
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel="stylesheet">

    <link rel="manifest" href="static/manifest.json">
    <meta name="theme-color" content="#303030">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="facerec">
    <link rel="apple-touch-icon" href="static/img/icons/apple-touch-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="static/img/icons/favicon.svg">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
  </body>
</html>
