<template>
  <div>
    <v-form>
      <v-stepper v-model="e1" non-linear class="v-stepper-styles">
        <v-stepper-header ref="questions">
          <v-stepper-step :complete="shared.q1 != ''" editable step="1" :rules="[() => !errors.has('q1')]"></v-stepper-step>
          <v-divider/>
          <v-stepper-step :complete="shared.q2a != '' && shared.q2b != ''" editable step="2" :rules="[() => !errors.has('q2a') && !errors.has('q2b')]"></v-stepper-step>
          <v-divider/>
          <v-stepper-step :complete="shared.q3 != ''" editable step="3" :rules="[() => !errors.has('q3')]"></v-stepper-step>
          <v-divider/>
          <v-stepper-step :complete="shared.q4 != ''" editable step="4" :rules="[() => !errors.has('q4')]"></v-stepper-step>
          <v-divider/>
          <v-stepper-step :complete="shared.q5 != ''" editable step="5" :rules="[() => !errors.has('q5')]"></v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card
              class="mb-5 v-card-styles"
            >
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Frog in the well</h3>
                </div>
              </v-card-title>
              <v-card-text>A frog is at the bottom of a 30 meter well. Each day he summons enough energy for one 3 meter leap up the well. Exhausted, he then hangs there for the rest of the day. At night, while he is asleep, he slips 2 meters backwards. How many days does it take him to escape from the well?</v-card-text>
              <v-card-actions class="v-card-actions-custom-padding">
                <v-text-field
                  v-model="shared.q1"
                  name="q1"
                  label="Number of days"
                  clearable
                  v-validate="'required|integer'"
                  :error-messages="errors.collect('q1')"
                  @change="add_tries('q1', shared.q1)"
                ></v-text-field>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-card
              class="mb-5 v-card-styles"
            >
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Coffee or tea</h3>
                </div>
              </v-card-title>
              <v-card-text>According to a survey, 70 percent of the public likes coffee, and 80 percent likes tea. What are the upper and lower bounds of people who like both coffee and tea?</v-card-text>
              <v-card-actions class="v-card-actions-custom-padding">
                <v-text-field
                  v-model="shared.q2a"
                  name="q2a"
                  label="Lower bound"
                  clearable
                  v-validate="'required|integer'"
                  :error-messages="errors.collect('q2a')"
                  @change="add_tries('q2a', shared.q2a)"
                ></v-text-field>
                <v-text-field
                  v-model="shared.q2b"
                  name="q2b"
                  label="Upper bound"
                  clearable
                  v-validate="'required|integer'"
                  :error-messages="errors.collect('q2b')"
                  @change="add_tries('q2b', shared.q2b)"
                ></v-text-field>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-card
              class="mb-5 v-card-styles"
            >
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Stairs</h3>
                </div>
              </v-card-title>
              <v-card-text>There’s a staircase and you’re allowed to ascend one or two steps at a time. How many ways are there to reach the 8th step?</v-card-text>
              <v-card-actions class="v-card-actions-custom-padding">
                <v-text-field
                  v-model="shared.q3"
                  name="q3"
                  label="Number of ways"
                  clearable
                  v-validate="'required|integer'"
                  :error-messages="errors.collect('q3')"
                  @change="add_tries('q3', shared.q3)"
                ></v-text-field>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="4">
            <v-card
              class="mb-5 v-card-styles"
            >
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Boys and girls</h3>
                </div>
              </v-card-title>
              <v-card-text> Imagine a country where all the parents want to have a boy. Every family keeps having children until they have a boy; then they stop. What is the proportion of boys to girls in this country? (Answer in decimals)</v-card-text>
              <v-card-actions class="v-card-actions-custom-padding">
                <v-text-field
                  v-model="shared.q4"
                  name="q4"
                  label="Proportion"
                  clearable
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('q4')"
                  @change="add_tries('q4', shared.q4)"
                ></v-text-field>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="5">
            <v-card
              class="mb-5 v-card-styles"
            >
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">Antisocial social club</h3>
                </div>
              </v-card-title>
              <v-card-text>There’s a bar where all the customers are antisocial. It has 25 seats in a line. Whenever a customer comes in, he invariably sits as far from the other customers as possible. Nobody will sit directly next to anyone else—should a customer come in and find that there are no such seats, he walks right out. The bartender naturally wants to seat as many customers as possible. If he is allowed to tell the first customer where to sit, where should that be?</v-card-text>
              <v-card-actions class="v-card-actions-custom-padding">
                <v-text-field
                  v-model="shared.q5"
                  name="q5"
                  label="Seat number"
                  clearable
                  v-validate="'required|integer'"
                  :error-messages="errors.collect('q5')"
                  @change="add_tries('q5', shared.q5)"
                ></v-text-field>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
        <div class="buttons-wrapper">
          <v-btn icon @click="prev" :disabled="e1 == 1"><v-icon>navigate_before</v-icon></v-btn>
          <v-btn icon @click="next" :disabled="e1 == numberOfQuestions"><v-icon>navigate_next</v-icon></v-btn>
          <v-btn @click="submit">Submit</v-btn>
        </div>
      </v-stepper>
    </v-form>
    <v-btn @click="toggleWebcamStream">
      <label v-if="!isStreaming">
        Stream Webcam
      </label>
      <label v-if="isStreaming">
        Stop Webcam
      </label>
    </v-btn>
    <div id="webcam-canvas"></div>
    <!-- <video id="video" width="25%" height="12.5%" autoplay></video> -->
  </div>
</template>


<script>
  import $ from "jquery";
  var Webcam = require("../js/webcam.js");
  var FrameBuffer = require("../js/frame-buffer.js");

  var DEFAULT_BUFFER_SIZE = 40;
  var looperPromise;
  var frameBuffer;
  var Config;
  var _API_ENDPOINT = "https://2lhkewtkje.execute-api.us-east-1.amazonaws.com/Prod";
  export default {
    props: ['shared'],
    data () {
      return {
        e1: 1,
        isStreaming: false,
        streamMetadata: null,
        shouldUploadFrames: 1,
        numberOfQuestions: 5,
        current_timer: this.start_timer(0)
      }
    },
    watch: {
      e1: function (newe1, olde1) {
        this.stop_timer(this.current_timer)
        this.current_timer = this.start_timer(newe1-1)
      }
    },
    methods:{
      submit() {
        this.$validator.validate().then(result => {
          if (result) {
            this.$router.push( '/results')
          }
        })
      },
      toggleWebcamStream() {
        this.streamMetadata = this.streamMetadata || {
          framerate: '--',
          bufferSize: '--',
          postInterval: '--',
          KVSLatency: '--',
          payloadSize: '--'
        };
        
        this.isStreaming = !this.isStreaming;
        Webcam.on("error", function(err) {
          console.log(err);
        });

        Webcam.set({
          width: 640,
          height: 640 * 3 / 4,
          image_format: "jpeg",
          quality: 80
        });

        if (this.isStreaming) {
          this.fetchConfig();
          this.startStreaming();
        } else {
          this.stopStreaming();
        }
      },
      fetchConfig() {
        this.$http.get(_API_ENDPOINT + "/Config")
          .then(function(response) {
            Config = response.data;
            Config.API_ENDPOINT = _API_ENDPOINT;
            this.log(response)
          }).catch(console.log)
      },
      startStreaming() {
        if (!Number(this.streamMetadata.bufferSize)) {
          this.streamMetadata.bufferSize = DEFAULT_BUFFER_SIZE;
        }
        if (!frameBuffer) {
          frameBuffer = new FrameBuffer({
              size: this.streamMetadata.bufferSize
          });
        }
        frameBuffer.clear();
        Webcam.off('live');
        Webcam.attach("#webcam-canvas");
        Webcam.on('live', this.startStreamLoop);
      },
      stopStreaming() {
        try {
          Webcam.reset();
        } catch (e) {
          console.error(e);
        }
        if (looperPromise) {
          clearTimeout(looperPromise);
          looperPromise = null;
        }
        if (frameBuffer) {
          frameBuffer.clear();
        }
        this.streamMetadata.lastPost = null;
        this.streamMetadata.startTimestamp = null;
      },
      startStreamLoop() {
        const vm = this;
        var lastTimestamp;
        var looper = function() {
          if (lastTimestamp) {
            var dtMillis = new Date().getTime() - lastTimestamp;
            vm.streamMetadata.framerate = Number((1000 / dtMillis).toFixed(1));
          }
          if (vm.isStreaming) {
            Webcam.snap(vm.frameCallback);
            lastTimestamp = new Date().getTime();
            looperPromise = setTimeout(looper, 1000 / parseInt(Config.TARGET_FRAME_RATE));
          }
        };
        looper();
        vm.streamMetadata.startTimestamp = new Date().getTime();
      },
      getDataEndpoint() {
        // if (/localhost/.test(window.location)) {
        //   console.log("getting local endpoint")
        //   return "/FrameData";
        // }
        return Config.API_ENDPOINT + "/FrameData";
      },
      frameCallback(imgData) {
        if (!this.isStreaming) return;
        frameBuffer.addFrame(imgData);
        if (this.streamMetadata.bufferSize &&
            frameBuffer.getSize() >= this.streamMetadata.bufferSize) {
            var data = frameBuffer.getData();
            frameBuffer.clear();
            if (this.streamMetadata.lastPost) {
                this.streamMetadata.postInterval = new Date().getTime() - this.streamMetadata.lastPost;
            }
            this.streamMetadata.lastPost = new Date().getTime();
            if (this.shouldUploadFrames) {
                this.streamMetadata.inProgress = true;
                this.$http.post(this.getDataEndpoint(), data).then(function(response) {
                    this.streamMetadata.KVSLatency = new Date().getTime() - this.streamMetadata.lastPost;
                    this.streamMetadata.inProgress = false;
                }).catch(console.error);
            }
            this.streamMetadata.payloadSize = Number((JSON.stringify(data).length / Math.pow(10, 6)).toFixed(2)) + " MB";
        }
      },
      prev() {
        if (this.e1 == 1) return
        this.e1 = Number(this.e1) - 1
      },
      next() {
        // const numberOfQuestions = Array.from(this.$refs.questions.children).filter(node => node.classList.contains('v-stepper__step')).length
        if (this.e1 == this.numberOfQuestions) return
        this.e1 = Number(this.e1) + 1
      },
      add_tries(q_no, tries) {
        this.shared[q_no + "_tries"].push(tries)
      },
      start_timer(idx) {
        return setInterval(() => {
          this.shared.q_time[idx] = this.shared.q_time[idx] + 100
        }, 100)
      },
      stop_timer(timer) {
        clearInterval(timer)
      },
      log(whatever) {
        console.log(whatever)
      },
    }
  }
</script>

<style>
  .v-card-actions-custom-padding {
    padding: 8px 16px
  }

  .v-card-styles {
    box-shadow: none;
    margin-bottom: 0;
  }

  .v-stepper-styles {
    height: 400px;
    position: relative;
  }

  .buttons-wrapper {
    padding-left: 18px;
    position: absolute;
    bottom: 10px;
  }
</style>
