<template>
  <v-layout
    align-center
    column
    justify-center
    dark
    class="header"
  >
    <h1 class="display-2 font-weight-thin mb-3">Supercharge learning</h1>
    <v-btn outline to="/demo">Try our demo</v-btn>
  </v-layout>
</template>

<script>
</script>

<style>
  .header {
    height: 600px;
  }
</style>