<template>
  <div>
    <h1> Your results </h1>
    <v-layout row wrap>
      <v-flex xs12 sm12 md6 lg6 xl6>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Frog in the well</h3>
              <div>
                <p>Your answer: {{this.shared.q1}}</p>
                <p>Correct answer: {{this.shared.q1_ans}}</p>
                <p>Your tries: {{this.shared.q1_tries.join()}}</p>
                <p>Time spend: {{this.shared.q_time[0]}} ms</p>
              </div>
            </div>
          </v-card-title>
        </v-card>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Coffee or tea</h3>
              <div>
                <p>Your answer: {{this.shared.q2a}}, {{this.shared.q2b}}</p>
                <p>Correct answer: {{this.shared.q2a_ans}}, {{this.shared.q2b_ans}}</p>
                <p>Your tries on a: {{this.shared.q2a_tries.join()}}</p>
                <p>Your tries on b: {{this.shared.q2b_tries.join()}}</p>
                <p>Time spend: {{this.shared.q_time[1]}} ms</p>
              </div>
            </div>
          </v-card-title>
        </v-card>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Stairs</h3>
              <div>
                <p>Your answer: {{this.shared.q3}}</p>
                <p>Correct answer: {{this.shared.q3_ans}}</p>
                <p>Your tries: {{this.shared.q3_tries.join()}}</p>
                <p>Time spend: {{this.shared.q_time[2]}} ms</p>
              </div>
            </div>
          </v-card-title>
        </v-card>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Boys and girls</h3>
              <div>
                <p>Your answer: {{this.shared.q4}}</p>
                <p>Correct answer: {{this.shared.q1_ans}}</p>
                <p>Your tries: {{this.shared.q4_tries.join()}}</p>
                <p>Time spend: {{this.shared.q_time[3]}} ms</p>
              </div>
            </div>
          </v-card-title>
        </v-card>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Antisocial social club</h3>
              <div>
                <p>Your answer: {{this.shared.q5}}</p>
                <p>Correct answer: {{this.shared.q1_ans}}</p>
                <p>Your tries: {{this.shared.q5_tries.join()}}</p>
                <p>Time spend: {{this.shared.q_time[4]}} ms</p>
              </div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 sm12 md6 lg6 xl6>
        <v-card>
          <p>Happy emotion when answering questions</p>
          <trend
            :data='happyresults'
            :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
            auto-draw
            smooth>
          </trend>
        </v-card>
        <v-card>
          <p>Angry emotion when answering questions</p>
          <trend
            :data='angryresults'
            :gradient="['yellow', 'orange', 'red']"
            auto-draw
            smooth>
          </trend>
        </v-card>
        <v-card>
          <p>Confused emotion when answering questions</p>
          <trend
            :data='confusedresults'
            :gradient="['purple', 'black']"
            auto-draw
            smooth>
          </trend>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import $ from "jquery";
  const ENDPOINT = "https://2lhkewtkje.execute-api.us-east-1.amazonaws.com/Prod/rekognitionresults";
  export default {
    props: ['shared'],
    data () {
      return {
        happyresults: [],
        angryresults: [],
        confusedresults: []
      }
    },
    mounted() {
      this.$http.get(ENDPOINT)
          .then(function(response) {
            for (var i = 0; i < response.body.length; i++) {
              this.happyresults.push(parseFloat(response.body[i]['HAPPY']['S']))
              this.angryresults.push(parseFloat(response.body[i]['ANGRY']['S']))
              this.confusedresults.push(parseFloat(response.body[i]['CONFUSED']['S']))
            }
          }).catch(console.error)
    }
  }
</script>