<template>
  <v-app id="app" standalone>
    <v-toolbar>
      <router-link to="/">
        <v-toolbar-title class="blue--text">Face Rec</v-toolbar-title>
      </router-link>
    </v-toolbar>
    <main>
      <router-view class="footer-margin" :shared="shared"/>
    </main>
    <v-footer class="pa-5" fixed>
    <span class="blue--text">© {{ new Date().getFullYear() }} hackabois</span>
  </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      shared: {
        q1: '',
        q2a: '',
        q2b: '',
        q3: '',
        q4: '',
        q5: '',
        q1_tries: [],
        q2a_tries: [],
        q2b_tries: [],
        q3_tries: [],
        q4_tries: [],
        q5_tries: [],
        q_time: [0,0,0,0,0],
        q1_ans: 28,
        q2a_ans: 50,
        q2b_ans: 70,
        q3_ans: 21,
        q4_ans: 0.5,
        q5_ans: 9
      }
    }
  }
}
</script>

<style>
.footer-margin {
  margin-bottom: 128px;
}
</style>